<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
  <head>
    <meta charset="{{site.charset}}" />
    <title>
      {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    {{ function('wp_head') }}
  </head>
  <body class="{{ body_class }}" data-template="base.twig">
    <div class="wrapper">
      <header class="main-header">
        <div class="top-header">
          <div class="top-header__wrap">
            <div class="logotype-block">
              <div class="logo-wrap"><a href="/"><img src="{{theme.link}}/img/logo.svg" alt="Логотип" class="logo-wrap__logo-img"></a></div>
            </div>
            <nav class="main-navigation">
              <ul class="nav-list">
                <li class="nav-list__nav-item"><a href="#" class="nav-list__nav-item__nav-link">Главная</a></li>
                <li class="nav-list__nav-item"><a href="#" class="nav-list__nav-item__nav-link">Полезная информация</a></li>
                <li class="nav-list__nav-item"><a href="#" class="nav-list__nav-item__nav-link">Последние акции</a></li>
                <li class="nav-list__nav-item"><a href="#" class="nav-list__nav-item__nav-link">О сервисе</a></li>
                <li class="nav-list__nav-item"><a href="#" class="nav-list__nav-item__nav-link">Новости</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="bottom-header">
          <div class="search-form-wrap">
            <form class="search-form">
              <input placeholder="Поиск..." class="search-form__input" type="text">
              <button class="search-form__btn-search"><i class="icon icon-search"></i></button>
            </form>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="content-wrapper">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
          <div class="sidebar">
            {% block sidebar %}
              {{ sidebar }}
            {% endblock %}
          </div>
        </div>
      </div>
      <footer class="main-footer">
      </footer>
    </div>
    {{ function('wp_footer') }}
  </body>
</html>
