{% extends "base.twig" %}

{% block content %}
  <h1 class="title-page">{{ frontpage_title }}</h1>
  <div class="posts-list">
    {% for post in posts %}
      <div class="post-wrap">
        <div class="post-thumbnail"><img src="{{ post.thumbnail.src('medium') }}" alt="{{ post.title }}" class="post-thumbnail__image"></div>
        <div class="post-content">
          <div class="post-content__post-info">
            <div class="post-date">{{ post.date }}</div>
          </div>
          <div class="post-content__post-text">
            <div class="post-title">
              {{ post.title }}
            </div>
            {{ post.get_preview(30, false, more)|apply_filters('the_content') }}
          </div>
          <div class="post-content__post-control"><a href="{{ post.link }}" class="btn-read-post">Читать далее &gt;&gt;</a></div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
